<div class="modal-header">
  <h5 class="modal-title">Lista de Comandos</h5>
  <a type="button" class="close" >
    <span aria-hidden="true" (click)="activeModal.dismiss()">&times;</span>
  </a>
</div>
<div class="modal-body">
  <div class="card">
    <header>
      <b>Operadores</b>
    </header>
    <ul>
      <li>Adição<kbd>+</kbd></li>
      <li>Subitração<kbd>-</kbd></li>
      <li>Multiplicação<kbd>*</kbd></li>
      <li>Divisão<kbd>/</kbd></li>
      <li>Parenteses<kbd>()</kbd></li>
    </ul>
  </div>
  <div class="card">
    <header>
      <b>Compradores</b>
    </header>
    <ul>
      <li>Igual<kbd>=</kbd></li>
      <li>Diferente<kbd>!=</kbd></li>
      <li>Maior<kbd>></kbd></li>
      <li>Menor<kbd><</kbd></li>
      <li>Maior igual<kbd>>=</kbd></li>
      <li>Menor igual<kbd><=</kbd></li>
    </ul>
  </div>
  <div class="card">
    <header>
      <b>Atalhos</b>
    </header>
    <ul>
      <li>Avança o foco<kbd>Tab</kbd></li>
      <li>Confirma opção<kbd>Enter</kbd></li>
      <li>Remove foco<kbd>Esc</kbd></li>
      
    </ul>
  </div>
</div>