header {
  & h5 {color: white;}
  & h6 {color: white; line-height: 1.6;}
  & h6 mat-icon {font-size: 15px;height: 15px;color: #2AC644;}
}
.content {height: inherit!important;}
.main {
  padding-top: 0!important;
  height: 100%!important;
  & .row {border-bottom: 1px solid #F0F0F9;margin-bottom: .5rem;min-height: 88%;}
  & .header {
    border-bottom: 1px solid #F0F0F9;
    width: 100%;
    padding: 1rem;
  }
  & .body {padding: 2rem 1rem;}
  & #input {
    border-right: 1px solid #F0F0F9;
    padding-right: 0;
    & .input-group-append button {
      border-radius: 0 0.25rem 0.25rem 0;
      padding: 0 .4rem;
      & mat-icon {
        font-size: 16px;
        max-height: 20px;
      }
    }
    & .variables {
      margin-bottom: 1rem;
      gap:1rem;

      & .item {
        background-color: #f0f0f9;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: .15rem;

        & .dropdown {
          background: white;
          border-radius: 100%;
          width: 22px;
          height: 22px;
          display: flex;
          margin-right: 0.3rem;

          & .dropdown-menu div {
            display: flex;
            font-size: 14px;
            width: 95%;
            margin: 0 0.2rem;
            border-radius: 30px;
            & img {
              background: #F0F0F9;
              display: flex;
              border-radius: 100%;
              margin-right: .3rem;
            }
            &:hover {
              background: #F4E6FE;
              color: #772EAD;
            }
          }
        } 

        & a img {width: 17px;height: 17px; margin-left: .3rem;}
      }
    }
  }
  & .metrics {
    padding-left: 0;

    & .fields {
      position: relative;
      & .label{
        position: absolute;
        left: .5rem;
        display: flex;
        transform: translate(0, -100%);
        & .circle {    
          & mat-icon {
            font-size: 10px;
            width: 10px;
            height: 10px;
            transform: translate(-45%, 60%);
          }
          &-rules{
            color: var(--indigo)
          }
          &-awards{
            color: var(--green)
          }
          & .bar {
            height: 14px;
            width: 1px;
            background: #00000020;
          } 
        }
        & b {
          transform: translateY(5px);
        }
      }
      & .btn-group {
        margin: 0 .5rem .5rem;
        & button {
          background: #F9F9FF;
          border: 1px solid #f0f0f9!important;
          padding: 0 0.6rem;
          font-size: 12px;
          color: #9999AA;
          outline: none;

          &:hover, &:focus, &:active, &:checked, &.active {
            color: #4C6EF5;
            font-weight: bold;
            background: white!important;
          }
        } 
        & .left {
          border-radius: 30px 0 0 30px;
        }
        & .right {
          border-radius: 0 30px 30px 0;
        }
      }
    }

    & .card {
      margin-bottom: 4rem;
      padding: .5rem;
      & .ipt {
        padding: .7rem .5rem;
        margin-bottom: .7rem;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%236C757D73' stroke-width='2' stroke-dasharray='7%2c 13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        transition: .5s;
        font-size: 14px;

        &-active {
          background: transparent;
          border: 2px solid #4C6EF5;
          border-left: 4px solid #4C6EF5;
          border-radius: 5px;
        }
        &-rules:hover {
          background-color: #F9F9FF;
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%234C6EF5FF' stroke-width='2' stroke-dasharray='7%2c13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
          border-radius: 8px;
          color: #4C6EF5;
        }
        &-awards:hover {
          background-color: #F9F9FF;
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%232AC644FF' stroke-width='2' stroke-dasharray='7%2c13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
          border-radius: 8px;
          color: #2AC644;
        }
        & input {
          border: none;
          outline: none;
        }
      }
      & .award {
        background-color: #F9F9FF;
        border: 1px solid #DDDDEE;
        padding: .6rem;
        margin-bottom: .7rem;
        border-radius: 5px;
      }
      & .operator {
        font-size: 12px;
        border: 1px solid #F0F0F9;
        border-radius: 5px;
        width: 20px;
        display: flex;
        justify-content: center;
        margin: 0 0.5rem 0.5rem;
        color: var(--green);
        height: 21px;
      }

      & .input-group {
        border: 1px solid #ced4da;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 92px 1fr;

        &--active {
          border: 2px solid var(--green);
          border-left: 4px solid var(--green);
          border-radius: 5px;
        }

        & .input-group-prepend .dropdown {
          font-size: 14px;
          color: #9999AA;
          & a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .47rem .5rem;
            min-width: 92px;
            height: 100%;
          }
          & mat-icon {
            font-size: 12px;
            width: 12px;
            height: 12px;
            padding-top: 0.1rem;
          }
          & ul {
            min-width: 100%;
            padding: 0;
          }
          & li {
            font-size: 14px;
            padding: .4rem .5rem;
            &:hover {
              background-color: #F9F9FF;
            }
          }
        }
        & mat-chip-list{
          border-left: 1px solid #ced4da;
          padding: .2rem;
          & input {outline: none;border: none;}
        }
        & .condition{
          display: flex;
          align-items: center;
          border-left: 1px solid #ced4da;
          color: var(--green);
          padding-left: .2rem;
          font-size: 14px;
        }
      }
    }

    & .empty {
      background-image: none!important;
    }
  }
}
.active {border-left:2px solid var(--green)!important;}

::ng-deep .chip{
  padding: 0 0.4rem 0 .25rem!important;
  min-width: 20px;
  display: flex;
  justify-content: flex-end;
  &-awards {
    background: #EBFFEE!important;
    color: var(--green)!important;
  }
  &-rules{
    background: #F0F3FF!important;
    color: indigo!important;
  }
  & .icon {
    background: #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    display: flex;
    margin-right: .2rem;
  }
}

@media only screen and (max-width:994px) {
  .main {padding-left: 15px;}
  .footer-buttons {width: 100%; display: inline-flex; justify-content: space-between;align-items: center;}
}