.form-select:focus,
.form-select:active,
.custom-file-input:focus,
.custom-file-input:active,
textarea:focus,
input[type="text"]:focus,
input[type="file"]:focus,
input[type='change']:focus,
#formFile:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: var(--secondary);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);  
}

ul {
  padding: 0
}

label {font-size: 14px;}

a,input,button {outline: none;}